extends layout

include _includes/sharedHtmlFunctions

block content
    .row.banner
        .col-12
            h1= pageHeader.title
                // TODO reformatter wants to decrease the indentation here, and I cannot find a way to override it
                small &nbsp;#{pageHeader.strapline}
    .row
        .col-12.col-md-8
            .error= message

            app-home-list

        .col-12.col-md-4
            p.lead= sidebar
